<h1 class="text-center">Servidores</h1>

<div class="table-responsive mt-3">
  <table class="table align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre de Servidor</th>
        <th scope="col">Capacidad del Servidor</th>
        <th scope="col">Ip del Servidor</th>
        <th scope="col">Alerta Aumento Servidor</th>
        <th scope="col">
          <button type="button" class="btn btn-success">Nuevo</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>
          <button type="button" class="btn btn-outline-warning btn-sm spaceBtn">
            <i class="fas fa-highlighter"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm spaceBtn">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
          <button type="button" class="btn btn-outline-warning btn-sm spaceBtn">
            <i class="fas fa-highlighter"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm spaceBtn">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>
          <button type="button" class="btn btn-outline-warning btn-sm spaceBtn">
            <i class="fas fa-highlighter"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm spaceBtn">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
