<section class="intro">
  <div
    class="mask d-flex align-items-center h-100"
    style="background-color: #d6d6d6"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <div class="my-md-5 pb-5">
                <h1 class="fw-bold mb-0">Bienvenido</h1>

                <i class="fas fa-user-astronaut fa-3x my-5"></i>
                <form (ngSubmit)="submit(f)" #f="ngForm">
                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="email"
                      class="form-control form-control-lg"
                      name="email"
                      [(ngModel)]="usuario.email"
                      required
                    />
                    <label class="form-label" for="email">Email</label>
                  </div>

                  <div class="form-outline mb-5">
                    <input
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                      name="password"
                      [(ngModel)]="usuario.password"
                      required
                    />
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <button
                    class="btn btn-primary btn-lg btn-rounded gradient-custom text-body px-5"
                    type="submit"
                  >
                    Login
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
