<h1 class="text-center">Crear Usuario</h1>

<form class="row g-3 needs-validation top" (ngSubmit)="submit(f)" #f="ngForm">
  <div class="col-md-4">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        [(ngModel)]="NewUser.userData.firstName"
        required
      />
      <label for="NewUser.userData.firstName" class="form-label">Primer Nombre</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="middleName"
        name="middleName"
        [(ngModel)]="NewUser.userData.middleName"
      />
      <label for="NewUser.userData.middleName" class="form-label">Segundo Nombre</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        [(ngModel)]="NewUser.userData.lastName"
        required
      />
      <label for="NewUser.userData.lastName" class="form-label">Primer Apellido</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="userName"
        aria-describedby="inputGroupPrepend"
        name="userName"
        [(ngModel)]="NewUser.userName"
        required
      />
      <label for="NewUser.userName" class="form-label"
        >Nombre de Usuario</label
      >
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-floating">
      <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      [(ngModel)]="NewUser.userData.email"
      required
      />
      <label
        for="NewUser.userData.email"
        class="form-label"
        >Correo Electronico</label
      >
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="NewUser.password"
        required
      />
      <label for="NewUser.password" class="form-label">Password</label>
    </div>
  </div>
  <hr>
  <div class="d-grid gap-2 col-6 mx-auto mt-3">
    <button class="btn btn-primary btn-lg" type="submit">
      Crear
    </button>
  </div>
</form>

