<h1 class="text-center">Usuarios</h1>

<div class="table-responsive mt-3">
  <table class="table align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nombre de Usuario</th>
        <th scope="col">Email</th>
        <th scope="col">Primer Nombre</th>
        <th scope="col">Segundo Nombre</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">
          <a class="btn btn-success" routerLink="/newuser">Nuevo</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users; let idx = index">
        <td>{{item.userName}}</td>
        <td>{{item.userData.email}}</td>
        <td>{{item.userData.firstName}}</td>
        <td>{{item.userData.middleName}}</td>
        <td>{{item.userData.lastName}}</td>
        <td>
          <button class="btn btn-outline-warning btn-sm spaceBtn" (click)="editar(item._id)"><i class="fas fa-highlighter"></i></button>
          <button type="button" class="btn btn-outline-danger btn-sm spaceBtn" (click)="eliminar(item._id, idx)"> <i class="fas fa-trash-alt"></i></button>
          <a type="button" class="btn btn-outline-dark btn-sm" (click)="servidores(item._id)">Servidores</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
