<h1 class="text-center">Editar Usuario</h1>


<form class="row g-3 needs-validation top" novalidate>
    <div class="col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="validationCustom01" value="Primer nombre" required />
        <label for="validationCustom01" class="form-label">Primer Nombre</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="validationCustom02" value="Segundo nombre" />
        <label for="validationCustom02" class="form-label">Segundo Nombre</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="validationCustom02" value="Primer Apellido" required />
        <label for="validationCustom02" class="form-label">Primer Apellido</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>
        <div class="col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required />
        <label for="validationCustomUsername" class="form-label">Nombre de Usuario</label>
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating">
          <input type="text" class="form-control" id="formControlDisabled" type="text" placeholder="Disabled input" aria-label="disabled input example" disabled value="Correo Electronico" required />
          <label for="validationCustom02" class="form-label" for="formControlDisabled">Correo Electronico</label>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
    <div class="col-md-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="validationCustom05" required />
        <label for="validationCustom05" class="form-label">Rol</label>
        <div class="invalid-feedback">Please provide a valid zip.</div>
      </div>
    </div>
    <div class="col-4">
        <div class="form-floating">
          <input type="text" class="form-control" id="validationCustom05" required />
          <label for="validationCustom05" class="form-label">Password</label>
          <div class="invalid-feedback">Please provide a valid zip.</div>
        </div>
      </div>
    <div class="d-grid gap-2">
      <button class="btn btn-warning btn-rounded btn-lg" type="submit">Actualizar</button>
    </div>
  </form>